<html>
    <head>
        <title>Student Home</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="../static/js/scripts.js"></script>
    </head>
    <body>
        Welcome, {{usernm}}!
        <div class="container">
            <h1>Math Quiz</h1>
            <select id="gradeSelector">
                {% for title in titles %}
                    <option value="{{title}}">{{name_conversion[title]}}</option>
                {% endfor %}

                <!-- <option value="grade1">Grade 1</option>
                <option value="grade2">Grade 2</option>
                <option value="algebra">Intro to Algebra</option>
                <option value="quadratic">Quadratic Equations</option> -->
    
                <!-- Add more grades as needed -->
            </select>
            <button onclick="startQuiz()">Start Quiz</button>
            <div id="questionArea"></div>
        </div>
        <img src="../static/Cocomelon-Logo.jpg" alt="coco" style="width:600px;height:400px;" class="center">
        <form action = "/join_course" method="post">
            <input type="text" name="class_id" placeholder="Enter Course ID:">
            <input type="submit" value="Join Class">
        </form>
        <script src="scripts.js"></script>
        </body>
</html>